@using Entities.DTOs;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Layout2";
}
@model List<UserOperationClaimDto>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Role
                    </th>
                  
                    <th>
                        Update
                    </th>
                   
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                      
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        </td>
                        
                    </tr>
                }
            </table>
           
        </div>
    </div>
</div>