@using Entities.Concrete;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Pet>
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end">
			<div class="col-md-9 ftco-animate pb-5">
				<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pets <i class="ion-ios-arrow-forward"></i></span></p>
				<h1 class="mb-0 bread">Meet Our Pets</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				
			
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(@item.ImagePath);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>@item.Name</h3>
						<span class="position mb-2"></span>
						<div class="faded">
							<p>@item.Description</p>
							
						</div>
					</div>
				</div>
			</div>
			}
			@*<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-2.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Rachel Parker</h3>
						<span class="position mb-2">Life &amp; Business Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-3.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Ian Smith</h3>
						<span class="position mb-2">Executive Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-4.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Alicia Henderson</h3>
						<span class="position mb-2">Health Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-5.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Lloyd Wilson</h3>
						<span class="position mb-2">Executive Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-6.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Rachel Parker</h3>
						<span class="position mb-2">Health Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-7.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Ian Smith</h3>
						<span class="position mb-2">Health Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url(images/staff-8.jpg);"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>Fred Henderson</h3>
						<span class="position mb-2">Executive Coach</span>
						<div class="faded">
							<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>*@
		</div>
	</div>
</section>